@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="UserProfile" asp-action="Index" asp-area="">
                <i class="bi bi-person-circle me-1"></i>@User.Identity?.Name
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link"
                        style="color: #c0392b; font-weight: 500;">
                    <i class="bi bi-box-arrow-right me-1"></i>Изход
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Register">
                <i class="bi bi-person-plus me-1"></i>Регистрирай се
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Identity/Account/Login">
                <i class="bi bi-box-arrow-in-right me-1"></i>Вход
            </a>
        </li>
    }
</ul>